@model WebApplication4.Models.Naja

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .custom-btn {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: none;
        font-size: 14px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">My Animal</h1>
</div>
<div class="row">
    <div class="col-2">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <div class="form-group">
                    <label>Name</label>
                    <input asp-for="Animal.Name" class="form-control" />
                </div>
                <div class="form-group mt-2">
                    <label>Type</label>
                    <input asp-for="Animal.Type" class="form-control" />
                </div>
                <div class="form-group mt-2">
                    <label>Leg</label>
                    <input asp-for="Animal.Leg" class="form-control" />
                </div>
                <div class="form-group mt-2">
                    <label>Arm</label>
                    <input asp-for="Animal.Arm" class="form-control" />
                </div>
                <div class="form-group mt-2">
                    <label>Head</label>
                    <input asp-for="Animal.Head" class="form-control" />
                </div>
                <div class="form-group mt-2">
                    <label>Eyes</label>
                    <input asp-for="Animal.Eyes" class="form-control" />
                </div>
                <div class="form-group mt-2">
                    <label>Tail</label>
                    <input asp-for="Animal.Tail" class="form-control" />
                </div>
                <div class="form-group mt-2">
                    <input type="submit" class="btn btn-success" value="Save" />
                    <a asp-action="Index" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-10">
        <table class="table" id="table-body">
            <thead>
                <tr>
                    <th>Name - Type</th>
                    <th>Leg</th>
                    <th></th>
                    <th>Arm</th>
                    <th>Head</th>
                    <th>Eyes</th>
                    <th>Tail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Animals)
                {
                    <tr>
                        <td>@item.Name - @item.Type</td>
                        <td>
                            @for (int i = 0; i < item.Leg; i++)
                            {
                                <img src="/img/leg.jpg" width="50" height="50" alt="Animal Image" class="animal-image" data-animal-id="@item.AnimalId" data-leg="@item.Leg" />
                            }
                        </td>
                        <td><input type="button" class="btn btn-success custom-btn add_leg" value="+" data-animal-id="@item.AnimalId" data-leg="@item.Leg" /></td>
                        <td>
                            @for (int i = 0; i < item.Arm; i++)
                            {
                                <img src="/img/arm.jpg" width="50" height="50">
                            }
                        </td>
                        <td>
                            @for (int i = 0; i < item.Head; i++)
                            {
                                <img src="/img/head.png" width="50" height="50">
                            }
                        </td>
                        <td>
                            @for (int i = 0; i < item.Eyes; i++)
                            {
                                <img src="/img/eye.jpg" width="50" height="50">
                            }
                        </td>
                        <td>
                            @for (int i = 0; i < item.Tail; i++)
                            {
                                <img src="/img/tail.jpg" width="50" height="50">
                            }
                        </td>
                    </tr>
                }
            </tbody>
            @*<tbody>      
                @foreach (var item in Model.Animals)
                {
                    <tr>
                        <td>@item.Name - @item.Type</td>
                        <td>
                            @for (int i = 0; i < item.Leg; i++)
                            {
                                <img src="/img/leg.jpg" width="50" height="50" alt="Animal Image" class="animal-image" data-animal-id="@item.AnimalId" data-leg="@item.Leg" />
                            }
                        </td>
                        <td><input type="button" class="btn btn-success custom-btn add_leg" value="+" data-animal-id="@item.AnimalId" data-leg="@item.Leg" /></td>
                        <td>
                            @for (int i = 0; i < item.Arm; i++)
                            {
                                <img src="/img/arm.jpg" width="50" height="50">
                            }
                        </td>
                        <td>
                            @for (int i = 0; i < item.Head; i++)
                            {
                                <img src="/img/head.png" width="50" height="50">
                            }
                        </td>
                        <td>
                            @for (int i = 0; i < item.Eyes; i++)
                            {
                                <img src="/img/eye.jpg" width="50" height="50">
                            }
                        </td>
                        <td>
                            @for (int i = 0; i < item.Tail; i++)
                            {
                                <img src="/img/tail.jpg" width="50" height="50">
                            }
                        </td>
                    </tr>
                }
            </tbody>*@
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.animal-image').click(function () {
                var animalId = $(this).data('animal-id');
                updateLeg(animalId);
            });

            function updateLeg(animalId) {
                $.ajax({
                    url: 'Home/DeleteLeg',
                    type: 'POST',
                    data: { animalId: animalId },
                    success: function (response) {
                        if (response.success) {
                            // อัปเดตหน้าเว็บหรือปรับปรุงการแสดงผลตามที่ต้องการ
                            // ตัวอย่าง: โหลดข้อมูลใหม่หรือรีเรนเดอร์ส่วนของตารางที่มีการแสดง Leg

                            console.log('Leg updated successfully.');
                        } else {
                            console.log('Leg update failed: ' + response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('An error occurred during Leg update: ' + error);
                    }
                });
            }
        });
    </script>

    @*<script>
        $(document).ready(function () {
            $('.add_leg').click(function () {
                var animalId = $(this).data('animal-id');
                updateLeg(animalId);
            });

            function updateLeg(animalId) {
                $.ajax({
                    url: 'Home/AddLeg',
                    type: 'POST',
                    data: { animalId: animalId },
                    success: function (response) {
                        if (response.success) {
                            // อัปเดตหน้าเว็บหรือปรับปรุงการแสดงผลตามที่ต้องการ
                            // ตัวอย่าง: โหลดข้อมูลใหม่หรือรีเรนเดอร์ส่วนของตารางที่มีการแสดง Leg

                            console.log('Leg updated successfully.');
                        } else {
                            console.log('Leg update failed: ' + response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('An error occurred during Leg update: ' + error);
                    }
                });
            }
        });
    </script>*@

    <script>
        $(document).ready(function () {
            // จาก $('.add_leg').click(function () {
            $(document).on('click', '.add_leg', function () {
                var animalId = $(this).data('animal-id');
                console.log(animalId);
                updateLeg(animalId);
            });
        //$(document).ready(function () {
        //    $('.add_leg').click(function () {
        //        var animalId = $(this).data('animal-id');
        //        updateLeg(animalId);
        //    });

            function updateLeg(animalId) {
                $.ajax({
                    url: 'Home/UpdateLeg', // เปลี่ยน 'ControllerName' เป็นชื่อ Controller ที่คุณใช้
                    type: 'POST',
                    data: { animalId: animalId },
                    success: function (response) {
                        if (response.success) {
                            // อัปเดตหน้าเว็บหรือปรับปรุงการแสดงผลตามที่ต้องการ
                            // ตัวอย่าง: โหลดข้อมูลใหม่หรือรีเรนเดอร์ส่วนของตารางที่มีการแสดง Leg

                            console.log('Leg updated successfully.');
                        } else {
                            console.log('Leg update failed: ' + response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('An error occurred during Leg update: ' + error);
                    }
                });
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            function updateTable() {
                $.ajax({
                    url: 'Home/GetData',
                    method: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        updateTableData(response);
                        setTimeout(updateTable, 500);
                    },
                    error: function (xhr, status, error) {
                        console.error('An error occurred while updating the table: ' + error);
                    }
                });
            }

            function updateTableData(data) {
                if (Array.isArray(data) && data.length > 0) {
                    var tableBody = $('#table-body tbody');
                    tableBody.empty();

                    data.forEach(function (item) {
                        console.log(item);
                        var row = $('<tr>');
                        row.append($('<td>').text(item.name + ' - ' + item.type));
                        row.append(createImageCell(item.leg, '/img/leg.jpg'));
                        row.append($('<td>').append($('<input>', { type: "button", class: "btn btn-success custom-btn add_leg", value: "+", 'data-animal-id': item.animalId, 'data-leg': item.leg })));
                        row.append(createImageCell(item.arm, '/img/arm.jpg'));
                        row.append(createImageCell(item.head, '/img/head.png'));
                        row.append(createImageCell(item.eyes, '/img/eye.jpg'));
                        row.append(createImageCell(item.tail, '/img/tail.jpg'));

                        tableBody.append(row);
                    });
                } else {
                    console.log('No data or invalid data');
                }
            }

            function createImageCell(count, src) {
                var cell = $('<td>');
                for (var i = 0; i < count; i++) {
                    cell.append($('<img>', { src: src, width: '50', height: '50' }));
                }
                return cell;
            }

            updateTable();
        });

    </script>

}